
@{
    ViewBag.Title = "Index";
}

<br />
<h2>Reports</h2>
<br />
<p>@Html.ActionLink("Inventory Report", "Inventory", "Reports", null, null)</p>
<p>@Html.ActionLink("Sales Report", "Sales", "Reports", null, null)</p>

